body {
  max-width: 86%;  
}

html {
  font-size: 14px;
}

@include media-breakpoint-up(sm) {
  body {
    max-with: 25%;
  }
  
  html {
    font-size: 16px;
    max-width: 25%;
  }
}

@include media-breakpoint-up(md) {
  body {
    max-width: 46%;
  }
  
  html {
    font-size: 20px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 28px;
  }
}

body {
  
  margin: 0;
  background-color: darkgrey;
     }

.ul {
  padding: 0;
  background-color: #f1f1f1;
  width: 15%;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.ul li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.ul li a:hover:not(.active) {
  background-color: #555;
  color: white;
  text-decoration: none;
}

.ul li a.active {
  background-color: teal;
  color: White;
  text-decoration: none;
}

.lead span a {
  text-decoration: none;
}

.lead {
  height: 200px;
}

.lead span i {
  color: purple;
}
.social {
  width: 600px;
  height: 25%;
  min-width: 80%;
  margin: 100px auto;
  padding: 5px;
}
.content {
  margin-left:30%;
  padding:1px 16px;
  height:1000px;
  width: 85%;
}

.lead {
  font-size: 18pt;
} 
 
.profile-pic {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.project-img {
  border-radius: 2px;
  width:200px;
  height: 100px;
}

.social-img {
  border-radius: 50%;
  width:50px;
  height: 50px;
}


.blockquotes {
  background-color: transparent;
  width:90px;
  height: 90px;
}

#testimonials {
  background-color: white;
  font-size: 18pt;
  font-family:'Times New Roman', Times, serif;
}

.education {border:solid 2px;
  text-align: center;
  padding: 0.3em;
  background-color: grey;
  width: 120px;
  border-radius: 0.1em;}

.underline {
 text-decoration: underline;
}

.control-label {
  padding: 10px;
}

.row-header {
  padding: 10px;
}

.pull-right {
  float: right !important;
}

// Usage as mixins
.another-element {
  .pull-right();
}

.footer {
  width: 500px;
  min-width: 50%;
  margin: 20px auto;
}